extends layout

include forms/account-create.pug

block content
    - var accounts = accounts
    - var filteredAccounts = filteredAccounts
    - accounts = ("search" in query) ? filteredAccounts : accounts

    div#mainContainer
        div(style="display: flex; justify-content: space-between;")
            h2.page-title Accounts
            div(style="display: flex; align-items: center;")
                form(action="", style="margin: auto;") 
                    input#search(type="search", name="search", value=query.search||"", placeholder="Search", style="margin-right: 5px;" autofocus)
                    input(type="submit", value="Search")
                button(onclick="window.location = window.location.pathname", style="margin-left: 5px;", title="Resets the search") Reset

        div#accountsContainer
            if accounts
                if accounts.length === 0
                    p No records found. click 
                        a(href="?create", title="Click to define an account") here
                        span  to create one

                else
                    div
                        p You have #{accounts.length} accounts being guarded by PGUARD
                        small * Click the account title to edit its information
                        br
                        small * Click the account's properties (email, password..) to copy it to your clipboard
                        br
                        small * Click the X button in each accounts card to delete it forever
                        br

                    div(style="margin-top: 20px;")
                        each account in accounts
                            div.account-card(id=account.id)
                                div.account-card-header
                                    h4.account-title
                                        a(href="?edit="+account.id) #{account.name}
                                    div
                                        a.xbutton(title="Delete account (Can not be undone)", href="?delete="+account.id+"") X
                                        
                                div.account-card-body
                                    if account.email
                                        div.account-line
                                            label.account-field-label Email
                                            a.account-property(onclick=`copy('${account.email}')`, title="Click to copy email") #{account.email}

                                    if account.username
                                        div.account-line
                                            label.account-field-label Username
                                            a.account-property(onclick=`copy('${account.username}')`, title="Click to copy password") #{account.username}
                                    
                                    if account.password
                                        div.account-line
                                            label.account-field-label Password
                                            a.account-property(onclick=`copy('${account.password}')`, title="Click to copy") #{query.clear ? account.password : "******"}

                                    if account.url
                                        div.account-line
                                            label.account-field-label Link
                                            a(href=account.url, title="Link", target="_blank") #{account.url}

                                    if account.phone
                                        div.account-line
                                            label.account-field-label Phone
                                            a.account-property(onclick=`copy('${account.phone}')`, title="Click to copy") #{account.phone}

                                    if account.udate
                                        div.account-line
                                            label.account-field-label Last Update
                                            span #{new Date(account.udate).toLocaleDateString("en-UK")}

                                    div.account-line
                                        label.account-field-label Created At
                                        span #{new Date(account.cdate).toLocaleDateString("en-UK")}
        div#accountActions
            button(onclick="window.location = window.location.pathname+'?create'", style="padding: 5px; cursor: pointer;", title="Click to create a new account") Create

    if toDelete
        +modal-dialog({title: "Confirmation", message: `'${toDelete.name}' will be deleted forever. This operation can not be undone.`, buttons: [{label: "Delete", onclick:`window.location = window.location.pathname+'?delete=${toDelete.id}&confirmed=true'`}, {label: "Cancel", onclick: "resetPage()"}]})

    if "create" in query
        +accountForm()
    if "edit" in query
        +accountForm(`/accounts/${query.edit}`, accountToEdit)
